astroid==2.4.2
certifi==2020.6.20
click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
isort==5.4.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib
lazy-object-proxy==1.4.3
MarkupSafe 
mccabe==0.6.1
mkl-fft
mkl-random
mkl-service
numpy==1.18.5
pylint==2.6.0
scikit-learn==0.23.2
scipy
six==1.15.0
threadpoolctl
toml==0.10.1
typed-ast==1.4.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
